<div class="over">
    <div class="actionsubnavi">
        <nav>
            <a [routerLink]="['insert-service']" routerLinkActive="actionActive" translate>INSERER UN SERVICE <i class="fas fa-database"></i></a>
            <a [routerLink]="['insert-research-service']" routerLinkActive="actionActive" translate>INSERER DES RECHERCHES DE SERVICES <i class="fas fa-database"></i></a>
            <a [routerLink]="['insert-product']" routerLinkActive="actionActive" translate>INSERER DES PRODUITS <i class="fas fa-database"></i></a>
            <a [routerLink]="['insert-need']" routerLinkActive="actionActive" translate>INSERER DES BESOINS <i class="fas fa-database"></i></a>
            <a [routerLink]="['insert-ad']" routerLinkActive="actionActive" translate>INSERER DES ANNONCES <i class="fas fa-database"></i></a>
        </nav>
    </div>
</div>

<router-outlet></router-outlet>
