<div class="authcontent">
    <div class="partone">
        <div class="signtext" [@leftright1]="stateName" *ngIf="isConn">
            <div class="hidediv" *ngIf="isSignText">
                <h2 translate>Creation du compte</h2>
                <h3 translate>Salut Salut !!!</h3>
                <div class="signcontent">
                    <p translate>Si vous êtes une personne et voulez une utilisation Basique de l'application, outre souhaité poster ou proposer des services ou alors poster vos besoins ou recherche alors n'exiter plus creer votre compte gratuitement</p>
                    <span translate>Vous ne disposez pas encore de compte alors creer en un ici</span>
                    <p translate class="account" (click) = "createAccount($event)">JE CRÉE MON COMPTE</p>
                </div>
            </div>
            <div class="logintext">
                <div class="textcontent" *ngIf="isLoginText">
                    <h2 translate>Connexion</h2>
                    <h3 translate>Bienvenu chez Makeasy</h3>
                    <p translate>Avec un Compte vous avez la possibilité de poster vos Annonces ou encore proposer vos services afin d'attirer des observateurs ou potentiel client sur vous. le tout Gratuitement</p>
                    <span translate>Si vous avez deja un compte utilisateur alors connecté vous et profité de nos Services proposés</span>
                    <div class="conn" (click)="connexion($event)"><p translate>Je me connecte et j'enprofite</p></div>
                </div>
            </div>
        </div>
        <div class="logingrid" [@rightleft1] = "stateName1">
            <div class="gridcontent" *ngIf="isLogin">
                <h3 translate>Inseré vos données de connexion</h3>
                <p translate class="text">Connecter vous de maniere sécurisé et sans sourci</p>
                <form action="" method="post" [formGroup] = "loginForm" (ngSubmit) = "onSubmit()">
                    <div class="lemail">
                        <p translate>Email</p><i class="fas fa-envelope"></i>
                        <input autocomplete="off" id="lemail" required type="email" placeholder="yourmail@mail.com" formControlName= "lemail" name="lemail" [ngClass]="{ 'is-invalid': loginForm.get('lemail').errors }">
                        <div *ngIf="loginForm.get('lemail').errors && (loginForm.get('lemail').dirty || loginForm.get('lemail').touched)" class="error">
                            <div *ngIf="loginForm.get('lemail').errors.required" translate>Le Mail Address est reccommandé</div>
                            <div *ngIf="loginForm.get('lemail').errors.email" translate>Votre Email est Invalide</div>
                        </div>
                        <div class="success" *ngIf="loginForm.get('lemail').valid" translate>
                            Parfait
                        </div>
                    </div>
                    <div class="lpass">
                        <p translate>Mot de passe</p><i class="fas fa-key"></i>
                        <input required type="password" placeholder="********" formControlName = "lpass">
                        <div *ngIf="loginForm.get('lpass').errors && (loginForm.get('lpass').dirty || loginForm.get('lpass').touched)" class="error">
                            <div *ngIf="loginForm.get('lpass').errors.required" translate>Le Mot de pass est reccommandé</div>
                            <div *ngIf="loginForm.get('lpass').errors.minlength" translate>Votre Mot de pass doit contenir minimum 6 charactére</div>
                        </div>
                        <div class="success" *ngIf="loginForm.get('lpass').valid" translate>
                            Parfait
                        </div>
                    </div>
                    <div class="sendBt"><button type="submit" translate [disabled] = "!loginForm.valid">CONNEXION</button></div>
                </form>
            </div>
            <div class="gridsign" *ngIf="isSign">
                <div class="contentblock">
                    <h3 translate>Inseré vos données d'inscription</h3>
                    <p translate class="text">ces données seront enregistrés dans notre base de donnée de maniére securisé</p>
                    <form action="" method="post" [formGroup] = "signForm" (ngSubmit) = "onSignSubmit()">
                        <div class="name">
                            <p translate>Nom*</p><i class="fas fa-user"></i>
                            <input type="text" placeholder="Andis" required formControlName="fname">
                            <div *ngIf="signForm.get('fname').errors && (signForm.get('fname').dirty || signForm.get('fname').touched)" class="error">
                                <div *ngIf="signForm.get('fname').errors.required" translate>Le Nom est obligatoir</div>
                                <div *ngIf="signForm.get('fname').errors.minlength" translate>Votre Nom doit avoir au moin 3 charactéres</div>
                            </div>
                            <div class="success" *ngIf="signForm.get('fname').valid" translate>
                                Parfait
                            </div>
                        </div>
                        <div class="lname">
                            <p translate>Prenom*</p><i class="fas fa-user"></i>
                            <input type="text" placeholder="Prenom" required formControlName = "lname">
                            <div *ngIf="signForm.get('lname').errors && (signForm.get('lname').dirty || signForm.get('lname').touched)" class="error">
                                <div *ngIf="signForm.get('lname').errors.required" translate>Le Prénom est obligatoir</div>
                                <div *ngIf="signForm.get('lname').errors.minlength" translate>Votre Prénom doit avoir au moin 3 charactéres</div>
                            </div>
                            <div class="success" *ngIf="signForm.get('lname').valid" translate>
                                Parfait
                            </div>
                        </div>
                        <div class="email">
                            <p translate>Email*</p><i class="fas fa-envelope"></i>
                            <input (keypress) = "hideEmailErroru()" type="email" placeholder="yourmail@mail.com" required formControlName="email">
                            <div *ngIf="signForm.get('email').errors && (signForm.get('email').dirty || signForm.get('email').touched)" class="error">
                                <div *ngIf="signForm.get('email').errors.required" translate>Le Mail Address est obligatoir</div>
                                <div *ngIf="signForm.get('email').errors.email" translate>Votre Email est Invalide</div>
                            </div>
                            <div class="error" *ngIf= "isEmailUsed" translate>Email déja utilisé</div>
                            <div class="success" *ngIf="signForm.get('email').valid" translate>
                                Parfait
                            </div>
                        </div>
                        <div class="tel">
                            <p translate>Télephone Portable*</p><i class="fas fa-phone-alt"></i>
                            <input (keypress) = "hideTelErroru()" type="tel" placeholder="00785565665" required formControlName = "tel">
                            <div *ngIf="signForm.get('tel').errors && (signForm.get('tel').dirty || signForm.get('tel').touched)" class="error">
                                <div *ngIf="signForm.get('tel').errors.required" translate>Le Numero de Téléphone est obligatoir</div>
                                <div *ngIf="signForm.get('tel').errors.minlength" translate>Votre Numéro doit avoir au moin 8 Chiffres</div>
                            </div>
                            <div class="error" *ngIf= "isTelUsed" translate>Numéro de Téléphone déja utilisé</div>
                            <div class="success" *ngIf="signForm.get('tel').valid" translate>
                                Parfait
                            </div>
                        </div>
                        <div class="pass">
                            <p translate>Mot de passe*</p><i class="fas fa-key"></i>
                            <input type="password" placeholder="******" required formControlName ="spass">
                            <div *ngIf="signForm.get('spass').errors && (signForm.get('spass').dirty || signForm.get('spass').touched)" class="error">
                                <div *ngIf="signForm.get('spass').errors.required" translate>Le Mot de pass est reccommandé</div>
                                <div *ngIf="signForm.get('spass').errors.minlength" translate>Votre Mot de pass doit contenir minimum 6 charactére</div>
                            </div>
                            <div class="success" *ngIf="signForm.get('spass').valid" translate>
                                Parfait
                            </div>
                        </div>
                        <div class="cpass">
                            <p translate>Confirmation du Mot de Passe*</p><i class="fas fa-key"></i>
                            <input type="password" placeholder="******" required formControlName = "cpass">
                            <div *ngIf="signForm.get('cpass').errors && (signForm.get('cpass').dirty || signForm.get('cpass').touched)" class="error">
                                <div *ngIf="signForm.get('cpass').errors.required" translate>Le Mot de pass est reccommandé</div>
                                <div *ngIf="signForm.get('cpass').errors.minlength" translate>Votre Mot de pass doit contenir minimum 6 charactére</div>
                            </div>
                            <div class="success" *ngIf="signForm.get('cpass').valid" translate>
                                Parfait
                            </div>
                            <div class="error" translate *ngIf="(signForm.get('cpass').dirty || signForm.get('cpass').touched) && signForm.get('cpass').errors?.passwordMismatch">Les Mots de passe ne correspondent pas</div>
                        </div>
                        <div class="sendBtsign"><button type="submit" translate [disabled] = "!signForm.valid">INSCRIPTION</button></div>
                    </form>
                </div>
            </div>  
        </div>
    </div> 
</div>

