<div class="over"></div>
<div class="page">
  <div class="head">
    <div class="language">
      <div class="firstLang" [ngClass]="{'activeLang' : checkLangfr == true}" (click)="useLanguage('fr')">FR</div>
      <div [ngClass]="{'activeLang' : checkLangen == true}"(click)="useLanguage('en')" class="en">EN</div>
    </div>
    
    <nav>
      <div class="navi">
        <div class="logo"></div>
        <a routerLink="/home" routerLinkActive="active" class="home" translate>ACCEUIL<i class="fas fa-home"></i></a>
        <a routerLink="/action" routerLinkActive="active" class="action" translate>EFFECTUER UNE ACTION<i class="fas fa-cog"></i></a>
        <a routerLink="/bid" routerLinkActive="active" class="bid" translate>OFFRE <i class="fas fa-caret-down"></i></a>
        <a routerLink="/contact" routerLinkActive="active" class="contact" translate>NOUS CONTACTER <i class="far fa-address-book"></i></a>
        <a routerLink="/authentification" routerLinkActive="active" class="conn" (mouseenter) = "showAuth()" translate>CONNEXION <i class="fas fa-sign-in-alt"></i></a>
      </div>
    </nav>
    <div class="auth" *ngIf="isAuth" (mouseleave) = "hideAuth()">
      <div class="customerblock">
        <a routerLink="/authentification/customer" routerLinkActive="authactive" translate (click)="hide()">COMPTE BASIQUE <i class="fas fa-user"></i></a>
      </div>
      <div class="company">
        <a routerLink="/authentification/company" routerLinkActive="authactive" translate (click)="hide()">COMPAGNIE OU ENTREPRISE <i class="fas fa-users"></i></a>
      </div>
      <div class="individual">
        <a routerLink="/authentification/individual" routerLinkActive="authactive" translate (click)="hide()">PARTICULIER <i class="fas fa-user"></i></a>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
