<div class="over"></div>
<div class="page">
  <div class="head">
    <div class="language">
      <div class="firstLang" [ngClass]="{'activeLang' : checkLangfr == true}" (click)="useLanguage('fr')">FR</div>
      <div [ngClass]="{'activeLang' : checkLangen == true}"(click)="useLanguage('en')" class="en">EN</div>
    </div>
    
    <nav>
      <div class="navi">
        <div class="logo"></div>
        <div class="home"><a routerLink="/home" routerLinkActive="active" translate>ACCEUIL<i class="fas fa-home"></i></a></div>
        <div class="action"><a routerLink="/action" routerLinkActive="active" translate>EFFECTUER UNE ACTION<i class="fas fa-cog"></i></a></div>
        <div class="depot"><a routerLink="/depot" routerLinkActive="active" translate>VOS DÉPÔTS <i class="fas fa-caret-down"></i></a></div>
        <div class="contact"><a routerLink="/contact" routerLinkActive="active" translate>NOUS CONTACTER <i class="far fa-address-book"></i></a></div>
        <div *ngIf = "showHead" class="connnav"><a routerLink="/authentification" routerLinkActive="active" class="conn" translate>CONNEXION <i class="fas fa-sign-in-alt"></i></a>
          <div class="auth">
            <div class="individual">
              <a routerLink="/authentification/individual" routerLinkActive="authactive" translate >PARTICULIER <i class="fas fa-user"></i></a>
            </div>
            <div class="company">
              <a routerLink="/authentification/company" routerLinkActive="authactive" translate >COMPAGNIE OU ENTREPRISE <i class="fas fa-users"></i></a>
            </div>
          </div>
        </div>
        <div class="user" *ngIf = "!showHead" (click) = "showNav()">
          <i class="fas fa-user fa-2x" (click)= "dashboard()"></i>
          <b>{{name}}</b>
        </div>
      </div>
    </nav>
    
  </div>
</div>
<router-outlet></router-outlet>
