@import '../../scss/variable.scss';
@mixin page() { // Si aucune valeur n'est précisée alors $margin vaut 10p
    .over{
        height: 25px;
        width: 100%;
        background-color: $white-color;
    }
    .page{
        width: 100%;
        height: 150px;
        background-color: $header-color;
        .language{
            display: flex;
            justify-content: flex-end;
            .firstLang{
                margin-right: 10px;
                cursor: pointer;
            }
            .activeLang{
                border-bottom: 1px solid $content-color;
            }
        }
        nav{
            .fas,.far{
                color: $content-color;
                padding-left: 5px;
            }
            .user .fas{
                color: $white-color;
                margin-top: -12px;
            }
            .active{
                color: $content-color;
            }
            .navi{
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: space-between;
                float: right;
                width: 72%;
                margin-top: -26px;
            }
             a {
                text-decoration: none;
                
                &:hover{
                    color: $content-color;
                }
            }
            .connnav{
                &:hover{
                    .auth{
                        display: block;
                    }
                }
            }

        }
        
        .head{
            @include centerEl();
            .language{
                padding: 15px 0 45px;
                text-align: right;
                width: 100%;
            }
        }
        .auth{
            
            @include decorNavi(0px,133px,0,none);
            z-index: 11;
            border-radius: 5px;
            width: 18%;
            a{
                text-decoration: none;
            }
            div{
                padding: 10px 15px 10px;
            }
             .fa-user,.fa-users{
                 color: $white-color;
             }
         } 
    }
    @media only screen and (min-width: 320px) and (max-width: 768px) {

    }
    @media only screen and (min-width: 320px) and (max-width: 1205px) {
        .page .auth{
            position: relative;
            display: block;
            width: 95%;
            background-color: transparent;
            box-shadow: none;
            top: 0;
        }
        .over .actionsubnavi{
            display: none;
        }
    }   
    
}
@mixin textarea($width,$height,$bcolor) {
    border-radius: 5px;
    width: $width;
    padding: 10px;
    height: $height;
    border: 1px solid $bcolor;
}
@mixin decorNavi($right,$top,$left,$display:block) {
    position: absolute;
    background-color: $content-color;
    box-shadow: 0px 0px 4px 2px #ff0000ff;
    display: $display;
    z-index: 1;
    color: #fff;
    font-size: 0.8em;
    right: $right;
    padding: 15px;
    top: $top;
}
@mixin dialogContent() {
    .dialog{
        position: fixed;
        z-index: 111;
        top: 0;
        width: 77%;
        left: calc(100% / 2 - 80% / 2);
        background-color: $white-color;
        bottom: 0;
        margin: 50px 0;
        padding: 20px;
        overflow-y: auto;
        overflow-x: hidden;
        h1{
            //color: $white-color;
        }
        p{
            color: $content-color;
        }
        .otherblock{
            display: flex;
            justify-content: space-between;
        }
        .textcontent{
            width: 50%;
            p {
                /*text-align: center;
                padding: 15px;
                background-color: $header-color;
                color: $white-color;*/
            }
            h2{
                color: $content-color;
            }
        }
        .contact{
            width: 48%;
        }
        .user{
            display: flex;
            justify-content: space-between;
            p{
                width: 88%;
            }
        }
        .contactel1{
            width: 94%;
            margin: 50px 0;
            border: 1px solid darkgray;
            border-radius: 5px;
            padding: 15px;
            .pcontact {
                text-align: center;
                padding: 15px;
                background-color: aqua;
                cursor: pointer;
            }
            textarea{
                @include textarea(95%,80px,darkgray);
            }
            .message{
                p{
                    width: 50%;
                    padding: 15px;
                    background-color: aqua;
                    text-align: center;
                }
            }
        }
    }
    .btn{
        float: right;
    }
    .over{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: rgba($color: $content-color, $alpha: 0.5);
    }
    .imgcontent{
        display: flex;
        justify-content: space-between;
        width: 100%;
        .showimg{
            width: 48%;
            img{
                width: 100%;
                height: 404px;
            }
        }
    }
    .imgblock{
        display: grid;
        width: 50%;
        grid-template-columns: 50% 50%;
        grid-gap: 10px;
        img{
            cursor: pointer;
            width: 100%;
            height: 200px;
        }
    }
}
@mixin itemBlock($hcolor:$header-color) {
    display: grid;
    grid-gap: 40px 40px;
    grid-template-columns: auto;
    
    @include centerEl();
    .item{
        background-color: $white-color;
        box-shadow: 0px 0px 3px 1px $hcolor;
        height: 220px;
        border-radius: 5px;
        width: 60%;
        display: flex;
        justify-content: space-between;
        position: relative;
        cursor: pointer;
        img{
            width: 217px;
            height: 100%;
        }
        
        .textblock{
            padding: 15px;
            width: 61%;
            .para{
                padding: 0 41px 0 0;
            }
            p{
                color: $content-color;
                margin-bottom: 0;
                margin-top: 0;
            }
            h3{
                color: $content-color;
            }
            .detail{
                float: right;
                color: $header-color;
                position: absolute;
                right: 42px;
                bottom: 18px;
            }
        }
    }
}
@mixin centerEl($width:80%) {
    width: $width;
    margin: 0 auto;
}
@mixin bgimage($url,$repeat,$position,$size) {
    background-image: url($url);
    background-repeat: $repeat;
    background-position: $position;
    background-size: $size;
}
@mixin input($width,$height,$bgcolor,$color,$mtop:50px,$hcolor:$header-color,$pleft:10px) {
    width: $width;
    font-size: 1em;
    position: relative;
    height: $height;
    background-color: $bgcolor;
    margin-top: $mtop;
    border-radius: 5px;
    padding-left: $pleft;
    border: 1px solid $hcolor;
    color: $color;
}
@mixin pDecor($width,$bcolor:$header-color,$pleft:10px) {
    margin-top: 50px;
    border-radius: 5px;
    border: 1px solid $bcolor;
    width: $width;
    height: 45px;
    cursor: pointer;
    padding-left: $pleft;
    position: relative;
}
@mixin subnavi() {
    background-color: $content-color;
    position: relative;
    display: flex;
    justify-content: space-between;
}
@mixin subnavigation() {
    .over .actionsubnavi nav .actionActive{
        color: $header-color;
        .fas{
            color: $white-color;
        }
    }
    .over{
        width: 100%;
        background-color: $content-color;
        .actionsubnavi{
            position: relative;
            nav{
                @include subnavi();
                a{
                    text-decoration: none;
                    height: 45px;
                    color: $white-color;
                    font-size: 0.8em;
                    padding-top: 20px;
                    &:hover{
                        color: $header-color;
                        .fas{
                            color: $white-color;
                        }
                    }
                    .fas{
                        color: $header-color;
                    }
                }
            }
            @include centerEl();
        }
    }
    @media only screen and (min-width: 320px) and (max-width: 1205px) {
        .over .actionsubnavi{
            display: none;
        }
    }
}