@import '../../scss/variable.scss';
@import '../themes/page.scss';
@mixin pagehome() {
    .home{
        width: 100%;
    }
    .innerpage{
        @include centerEl();
        display: flex;
        justify-content: space-between;
        position: relative;
        form{
            width: 100%;
            display: flex;
            position: relative;
            justify-content: space-between;
        }
        .myform{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .categoriContent{
            position: absolute;
            width: 22%;
            right: 128px;
            top: 110px;
            margin-top: 20px;
            box-shadow: 0px 0px 4px 2px $header-color;
            border-radius: 5px;
            padding: 20px;
            background-color: $content-color;
            .item{
                cursor: pointer;
                color: $white-color;
                padding: 10px;
                &:hover{
                    background-color: brown;
                }
            }
        }
        .category{
            @include pDecor(35%);
            background-color: $content-color;
            .fa-caret-down{
                position: absolute;
                right: 10px;
                color: $white-color;
                top: 15px;
            }
        }
        .filtre{
            @include pDecor(22%);
            background-color: $content-color;
            margin-right: 11%;
            p{
                i{
                    padding-right: 5px;
                }
            }
        }
        .search input{
            @include input(40%,45px,$content-color,$white-color,50px,$header-color,45px);
            
        }
        .fa-search{
            position: absolute;
            bottom: 16px;
            right: 96%;
            color: $white-color;
        }
        .fa-map-marker-alt{
            position: absolute;
            color: $white-color;
            bottom: 19px;
            right: 16%;
        }
        .fas{
            //padding-right: 10px;
        }
        .elefiltre{
            position: absolute;
            top: 105px;
            padding: 20px;
            box-shadow: 0px 0px 4px 2px $header-color;
            margin-top: 20px;
            .amount{
                width: 40%;
                input{
                    @include input(100%,45px,$content-color,$white-color);
                    margin-top: 0;
                    margin-bottom: 15px;
                }
            }
            .status{
                display: flex;
                justify-content: space-between;
                position: relative;
                width: 40%;
                .new{
                    position: absolute;
                    top: 15px;
                    left: 45px;
                }
                .occasion{
                    position: absolute;
                    top: 15px;
                    right: -25px;
                }
            }
            .location{
                input{
                    @include input(40%,45px,$content-color,$white-color);
                    margin-top: 0;
                    margin-bottom: 15px;  
                }
            }
        }
        .apply{
            @include input(41%,45px,$content-color,$white-color);
            text-align: center;
            margin-top: 10px;
            cursor: pointer;
        }
    }
    .contentblockservice,.contentblockreasearchservice,.contentblockneed,.contentblockproduct,.contentblockad{
        position: relative;
        margin-top: 188px;
        h2{
            color: $content-color;
            padding-left: 10%;
            margin: 60px 0;
            
        }
    }

}
