@import '../../environments/themes/pagehome.scss';
@import '../../scss/variable.scss';
@import '../../environments/themes/page.scss';
@include pagehome();
.element span{
    color: #fff;
}
.pipefilter,.locationblock{
    position: absolute;
    top: 110px;
    z-index: 1;
    background-color: $white-color;
}
.locationblock{
    right: 239px;
    width: 20%;
}
.pipefilter{
    left: 0;
    width: 40%;
}
.categitem,.locationItem{
    padding: 10px 20px 10px;
    cursor: pointer;
    &:hover{
        background-color: darkolivegreen;
    }
}
.go{
    @include pDecor(8%);
    .fas{
        padding-left: 5px;
    }
}